OutputDir
MetDir
ChemDir
HcoDir
CodeDir
rundir.version
*~
*#
GCHP_restart.nc4
initial_*fullchem.nc
*.nc4
*.log
EGRESS
*.rcx
cap_restart
fort.11
*.bin
gchp
setEnvironment
*.out
RunScriptSamples
README
build
